*.pyc
*.o
.vscode
feprest/fepgen/fepgen

projects

feprest/gromacs-2020.7
runnings
notebooks

*.o[0-9]*
*.e[0-9]*

fepgen
old

.gitignore
fs-projects
mem
memo
*.md


morph_fep
mut_rest
submit_scripts/none_*
